html {
    height: 100%;
    width: 100%;
  }

body {
 background-color: #caebf2;
}

  .medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .medievalsharp-bold {
    font-family: "MedievalSharp", cursive;
    font-weight: 900;
    font-style: bold;
  }

  .information {
    background-color: rgba(125, 13, 42, 0.7);
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 0px 1.5%;
    width: 35%;
    clear: right;
  }
  img.Logo {
    padding: 2px;
    margin: 6px;
  }

    
/* Menu bar */
  li {
    display: inline;
    float: left;
  }
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: white;
  }
  .active {
    background-color: #dd2727;
  }
  /* Einde Menu bar */